#app-header{
 isolation: isolate;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 width: 100%;
 z-index: 1000;
 box-shadow: 0px 0px 0.5em 1px rgba(30,30,30,0.1);
 background-color: #fff;
}

#app-header.header-theme{
 background-color: #28639e;
 color: #fff;
}


#app-header .header-link {
 text-decoration: none;
 color: #347bc2 ;
 transition: all 0.2s ease-in-out; 
 font-weight: 500;
 padding: 3px;
 border-radius: 4px;
}



#app-header .header-link:hover{
 color: #28639e;
 background-color: rgba(126, 167, 209, 0.5);
}


#app-header .drop-down-box {
 height: 0;
 pointer-events: none;
 opacity: 0;
 right: 0;
 position: absolute;
 top: 27px;
 background-color: #639bd2;
 color: #fff;
 font-weight: 500;
 border-radius: 3px;
 transition: all 0.5s ease;
}

#app-header .bootcamps-dropdown {
 right: -72px;
}


#app-header .drop-down-box.show {
 height: 216px;
 pointer-events:all ;
 opacity: 1;
}

#app-header .drop-down-box.show-bootcamps {
 height: 108px;
 pointer-events:all ;
 opacity: 1;   
}


#app-header .mobile-display {
 display: none;
}
